<a href="https://colab.research.google.com/github/riioaditya/data-maning/blob/main/Decisiontree_Ramen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1614]:
import numpy as np
import pandas as pd
from sklearn import tree
from sklearn import preprocessing

In [1615]:
ramenDataset = pd.read_csv('ramen-ratingg.csv', delimiter=',', header=0)

In [1616]:
len(ramenDataset)

1954

In [1617]:
ramenDataset.head()

   Review #           Brand  ... Stars Top Ten
0      2580       New Touch  ...  3.75     NaN
1      2579        Just Way  ...  1.00     NaN
2      2578          Nissin  ...  2.25     NaN
3      2577         Wei Lih  ...  2.75     NaN
4      2576  Ching's Secret  ...  3.75     NaN

[5 rows x 7 columns]

In [1618]:
ramenDataset["Style"] = pd.factorize(ramenDataset.Style)[0]

In [1619]:
ramenDataset = ramenDataset.drop('Review #', 1)

In [1620]:
ramenDataset.head()

            Brand  ... Top Ten
0       New Touch  ...     NaN
1        Just Way  ...     NaN
2          Nissin  ...     NaN
3         Wei Lih  ...     NaN
4  Ching's Secret  ...     NaN

[5 rows x 6 columns]

In [1621]:
ramenDataset = ramenDataset.drop('Brand', 1)

In [1622]:
ramenDataset.head()

                                             Variety  Style  ... Stars  Top Ten
0                          T's Restaurant Tantanmen       0  ...  3.75      NaN
1  Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...      1  ...  1.00      NaN
2                      Cup Noodles Chicken Vegetable      0  ...  2.25      NaN
3                      GGE Ramen Snack Tomato Flavor      1  ...  2.75      NaN
4                                    Singapore Curry      1  ...  3.75      NaN

[5 rows x 5 columns]

In [1623]:
ramenDataset = ramenDataset.drop('Variety', 1)

In [1624]:
ramenDataset = ramenDataset.drop('Country', 1)

In [1625]:
ramenDataset = ramenDataset.drop('Top Ten', 1)

In [1626]:
ramenDataset = ramenDataset.drop('Stars', 1)

In [1627]:
ramenDataset.head()

   Style
0      0
1      1
2      0
3      1
4      1

Didapati 0 adalah unique-int dari cup, 1 adalah unique-int dari pack, 2 adalah unique-int dari tray, 3 adalah unique-int dari bowl.

In [1628]:
ramenDataset = ramenDataset.to_numpy()

In [1629]:
print(ramenDataset)

[[0]
 [1]
 [0]
 ...
 [1]
 [1]
 [1]]

In [1630]:
# Membagi dataset => 1760 data untuk training dan 194 baris data untuk testing
dataTraining = np.concatenate((ramenDataset[0:990],ramenDataset[1000:1770, :]), axis=0)
dataTesting = np.concatenate((ramenDataset[990:1000, :],ramenDataset[1770:1954, :]), axis=0)

In [1631]:
print(dataTraining)
len(dataTraining)

[[0]
 [1]
 [0]
 ...
 [0]
 [3]
 [3]]

1760

In [1632]:
#print(dataTesting)
len(dataTesting)

194

In [1633]:
inputTraining = dataTraining[:,:]
labelTraining = dataTraining[:,:]
inputTesting = dataTesting[:,:]
labelTesting = dataTesting[:,:]

In [1634]:
model = tree.DecisionTreeClassifier()
model = model.fit(inputTraining,labelTraining)
hasil = model.predict(inputTesting)

In [1635]:
print("Label sebelumnya : ",labelTesting)
print("Hasil predict : ",hasil)

Label sebelumnya :  [[1]
 [1]
 [1]
 [1]
 [1]
 [3]
 [1]
 [1]
 [3]
 [1]
 [3]
 [3]
 [0]
 [3]
 [0]
 [3]
 [0]
 [1]
 [1]
 [1]
 [3]
 [1]
 [1]
 [3]
 [1]
 [1]
 [2]
 [1]
 [0]
 [1]
 [3]
 [1]
 [3]
 [1]
 [3]
 [3]
 [1]
 [0]
 [0]
 [3]
 [3]
 [3]
 [3]
 [1]
 [1]
 [1]
 [3]
 [1]
 [3]
 [3]
 [3]
 [1]
 [1]
 [1]
 [1]
 [1]
 [3]
 [3]
 [1]
 [1]
 [1]
 [1]
 [3]
 [1]
 [3]
 [1]
 [3]
 [0]
 [1]
 [3]
 [1]
 [3]
 [1]
 [1]
 [3]
 [1]
 [3]
 [1]
 [1]
 [1]
 [1]
 [1]
 [0]
 [3]
 [3]
 [3]
 [3]
 [1]
 [1]
 [3]
 [3]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [0]
 [3]
 [3]
 [0]
 [3]
 [1]
 [1]
 [0]
 [3]
 [1]
 [1]
 [3]
 [3]
 [1]
 [1]
 [1]
 [0]
 [1]
 [1]
 [1]
 [0]
 [3]
 [3]
 [0]
 [0]
 [3]
 [0]
 [3]
 [0]
 [0]
 [2]
 [2]
 [1]
 [3]
 [1]
 [0]
 [3]
 [2]
 [3]
 [1]
 [1]
 [1]
 [1]
 [2]
 [2]
 [3]
 [3]
 [3]
 [1]
 [1]
 [0]
 [3]
 [2]
 [1]
 [2]
 [0]
 [1]
 [1]
 [0]
 [3]
 [1]
 [1]
 [3]
 [0]
 [3]
 [1]
 [1]
 [1]
 [3]
 [0]
 [1]
 [1]
 [1]
 [3]
 [3]
 [3]
 [1]
 [3]
 [1]
 [1]
 [1]
 [3]
 [1]
 [1]
 [1]
 [0]
 [1]
 [1]
 [3]
 [0]
 [0]
 [0]
 [1]
 [1]
 [1]
 [1]]
Hasil predict :  [1 1 1 1 1 3 1 1 3 1 3 3 0 3 0 3 0 1 1 1 3 1 1 3 1 1 2 1 0 1 3 1 3 1 3 3 1
 0 0 3 3 3 3 1 1 1 3 1 3 3 3 1 1 1 1 1 3 3 1 1 1 1 3 1 3 1 3 0 1 3 1 3 1 1
 3 1 3 1 1 1 1 1 0 3 3 3 3 1 1 3 3 1 1 1 1 1 1 1 0 3 3 0 3 1 1 0 3 1 1 3 3
 1 1 1 0 1 1 1 0 3 3 0 0 3 0 3 0 0 2 2 1 3 1 0 3 2 3 1 1 1 1 2 2 3 3 3 1 1
 0 3 2 1 2 0 1 1 0 3 1 1 3 0 3 1 1 1 3 0 1 1 1 3 3 3 1 3 1 1 1 3 1 1 1 0 1
 1 3 0 0 0 1 1 1 1]

In [1636]:
len(labelTesting)

194

In [1637]:
len(hasil)

194

In [1645]:
benar_cek0 = (hasil == 0).sum()
salah_cek0 = (hasil != 0).sum()
print("cup : ", benar_cek0," data")
print("yang bukan cup : ", salah_cek0," data")
#print("akurasi : ", benar_cek0/labelTesting*100, "%")
print("persentase : ",benar_cek0/(benar_cek0+salah_cek0)*100, "%")

cup :  28  data
yang bukan cup :  166  data
persentase :  14.432989690721648 %

In [1639]:
benar_cek1 = (hasil == 1).sum()
salah_cek1 = (hasil != 1).sum()
print("pack : ", benar_cek1," data")
print("yang bukan pack : ", salah_cek1," data")
print("akurasi : ", benar_cek1/(benar_cek1+salah_cek1)*100, "%")

pack :  96  data
yang bukan pack :  98  data
akurasi :  49.48453608247423 %

In [1640]:
benar_cek2 = (hasil == 2).sum()
salah_cek2 = (hasil != 2).sum()
print("tray : ", benar_cek2," data")
print("yang bukan tray : ", salah_cek2," data")
print("akurasi : ", benar_cek2/(benar_cek2+salah_cek2)*100, "%")

tray :  8  data
yang bukan tray :  186  data
akurasi :  4.123711340206185 %

In [1641]:
benar_cek3 = (hasil == 3).sum()
salah_cek3 = (hasil != 3).sum()
print("bowl : ", benar_cek3," data")
print("yang bukan bowl : ", salah_cek3," data")
print("akurasi : ", benar_cek3/(benar_cek3+salah_cek3)*100, "%")

bowl :  62  data
yang bukan bowl :  132  data
akurasi :  31.958762886597935 %